<div>
    <h1>Mi app</h1>

    <form action="">

        <input type="text" id="text-i">
        <p id="text-p"></p>

    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>